.products-container {
  margin: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

#product-card img {
  max-width: 100%;
}
.product-info {
  font-weight: 500;
  padding: 8px;
  text-align: center;
}
