* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #292929;
  color: #ffffff;
  margin: 0;
}

header {
  height: 88px;
  width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-content {
  height: 46px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 21px;
  margin-left: 140px;
  gap: 245px;
}

.user-info img {
  height: 46px;
  width: 46px;
  border-radius: 999px;
}

.user-info {
  width: 191px;
  height: 46px;
  gap: 8px;
  display: flex;
  align-items: center;
}

.user-text {
  height: 36px;
  width: 137px;
  gap: 9px;
}
.user-name {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.user-id {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #b3b3b3;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
  width: 384px;
  height: 34px;
  padding: 8px;
}

.nav-links li a {
  text-decoration: none;
  color: #cacaca;
  transition: text-shadow 0.3s ease;
}

.nav-links li a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.logo-img img {
  height: 44px;
  width: 135px;
}

.content-wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.search-bar input {
  margin-left: 155px;
  padding: 0 16px;
  width: 1200px;
  height: 56px;
  background-color: #ffffff1f;
  border-radius: 12px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  display: flex;
  justify-content: space-between;
}

.search-bar input::placeholder {
  color: #dedede66;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.search-bar input:focus {
  outline: none;
  border: 2px solid #848484;
}
.search-bar i {
  position: absolute;
  right: 200px;
  top: 20%;
  transform: translateY(-50%);
  color: #ffffff;
  cursor: pointer;
}
