* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #292929;
  color: #ffffff;
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}
header {
  height: 88px;
  width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-content {
  height: 46px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 21px;
  right: 120px;
  left: 120px;
  bottom: 21px;
  gap: 245px;
}

.user-info img {
  height: 46px;
  width: 46px;
  border-radius: 999px;
}

.user-info {
  width: 191px;
  height: 46px;
  gap: 8px;
  display: flex;
  align-items: center;
}

.user-text {
  height: 36px;
  width: 137px;
  gap: 9px;
}
.user-name {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.user-id {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #b3b3b3;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
  width: 384px;
  height: 34px;
  padding: 8px;
}

.nav-links li a {
  text-decoration: none;
  color: #cacaca;
  transition: text-shadow 0.3s ease;
}

.nav-links li a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.logo-img img {
  height: 44px;
  width: 135px;
}

.content-wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.search-bar input {
  position: absolute;
  top: 114px;
  right: 120px;
  left: 120px;
  bottom: 2126px;
  padding: 0 16px;
  width: 1200px;
  height: 56px;
  background-color: #ffffff1f;
  border-radius: 12px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  display: flex;
  justify-content: space-between;
}

.search-bar input::placeholder {
  color: #dedede66;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.search-bar input:focus {
  outline: none;
  border: 2px solid #848484;
}
.search-bar i {
  position: absolute;
  top: 130px;
  right: 134px;
  left: 1282px;
  bottom: 2142px;
  transform: translateY(-50%);
  color: #ffffff;
  cursor: pointer;
}

.about-us-text {
  position: relative;
}

.slider-text {
  position: absolute;
  top: 300px;
  right: 120px;
  left: 120px;
  bottom: 1106px;
  width: 1200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

.slider-main-header p {
  font-family: "kavoon", cursive;
  position: absolute;
  top: -80px;
  left: -60px;
  font-size: 40px;
  font-weight: 400;
  line-height: 110%;
}
.slider-small-header p {
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  width: 600px;
  position: absolute;
  top: -30px;
  left: -60px;
}
.slider-btn {
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: #151515;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  margin-left: -60px;
}
.slider-btn:hover {
  background-color: #ffffff;
  color: #121212;
}

.slider-container {
  position: absolute;
  top: 200px;
  right: 120px;
  left: 120px;
  bottom: 916px;
  width: 1200px;
  height: 490px;
}

.slider-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 22/9;
  overflow-x: auto; /*allows scrolling through the images incase of overflow and not wrapping them up */
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}
.slider img {
  flex: 1 0 100%;
  /*  */
  scroll-snap-align: start;
  object-fit: cover;
  /*  */
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
}

.about-us {
  height: 216px;
  width: 1200px;
  top: 740px;
  right: 120px;
  left: 120px;
  bottom: 1312px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  position: absolute;
  background-color: #ffffff33;
}

.about-us .header-about-us {
  position: absolute;
  width: 1072px;
  height: 20px;
  top: 40px;
  left: 64px;
  right: 64px;
  bottom: 156px;
  display: flex;
  justify-content: center;
  font-size: 28px;
  line-height: 20px;
  font-weight: bold;
  color: #ffffff;
}
.about-us .paragraph-about-us {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1072px;
  height: 90px;
  top: 86px;
  left: 64px;
  right: 64px;
  bottom: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  width: 1100px;
  color: #ffffff;
}
.our-collections {
  position: absolute;
  width: 213px;
  height: 20px;
  top: 1000px;
  left: 614px;
  font-size: 32px;
  font-weight: 700;
  font-size: 28px;
  line-height: 20px;
  color: #ffffff;
}

.collections {
  position: absolute;
  top: 1120px;
  left: 120px;
  width: 1200px;
  height: 500px;
  display: flex;
  background-color: #292929;
  gap: 6px;
}
.collections .big-card {
  background-color: #898989;
  height: 100%;
  width: 50%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-size: 24px;
  font-weight: bold;
  color: #292929;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Initial subtle shadow */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.collections .big-card p {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #292929;
  font-size: 40px;
  font-weight: bold;
  top: 50%;
  left: -5%;
}

.collections .big-card a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  left: 15%;
  top: 75%;
}
.collections .big-card a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: red;
}
.collections .big-card a:hover::after {
  width: 100%;
  transition: width 0.6s ease;
}

.collections .small-card-container {
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6px;
  font-size: 24px;
  font-weight: bold;
  color: #292929;
}
.collections .small-card {
  background-color: #898989;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Initial subtle shadow */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.collections .small-card-container .small-card a {
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  left: 15%;
  top: 75%;
  font-size: 16px;
  font-weight: bold;
}

.collections .small-card a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: red;
}
.collections .small-card a:hover::after {
  width: 100%;
  transition: width 0.6s ease;
}
.collections .big-card:hover {
  cursor: pointer;
  transform: translateY(-10px); /* Moves the card up by 10px */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Enhances the shadow on hover */
}

.collections .small-card:hover {
  cursor: pointer;
  transform: translateY(-10px); /* Moves the card up by 10px */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Enhances the shadow on hover */
}

footer {
  height: 334px;
  width: 100%;
  position: relative;
  top: 1550px;
  bottom: 0;
  background-color: #121212;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  position: relative;
  height: 205px;
  width: 1200px;
  top: 46px;
  right: 120px;
  left: 120px;
  bottom: 123px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer .footer-container .quick-links p {
  width: 100px;
  height: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

footer .footer-container .quick-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79px;
  height: 165px;
  gap: 10px;
  top: 30px;
  right: 1241px;
  left: 120px;
  bottom: 123px;
}
footer .footer-container .quick-links ul li {
  list-style: none;
  margin: 20px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

footer .footer-container .quick-links ul li a {
  text-decoration: none;
  color: rgb(128, 128, 128);
  transition: text-shadow 0.3s ease;
}

footer .footer-container .quick-links ul li a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

footer .footer-container .contact-us p {
  width: 100px;
  height: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  margin-left: 60px;
}

footer .footer-container .contact-us .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 166px;
  height: 108px;
  gap: 20px;
  margin-top: 30px;
}
footer .footer-container .contact-us .contact-info p {
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  color: #ffffff99;
}
footer > p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  color: #ffffff99;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  top: 70px;
}

footer .footer-container .follow-us p {
  width: 100px;
  height: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

footer .footer-container .follow-us-icons {
  display: flex;
  gap: 20px;
  text-decoration: none;
}

footer .footer-container .follow-us-icons a {
  text-decoration: none;
  color: #ffffff;
  width: 40px;
  height: 40px;
  gap: 5px;
  margin-top: 40px;
}
