* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #292929;
  color: #ffffff;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}
header {
  min-height: 88px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info img {
  min-height: 46px;
  max-width: 46px;
  border-radius: 999px;
}

.user-info {
  gap: 8px;
  display: flex;
  align-items: center;
}

.user-text {
  min-height: 36px;
}
.user-name {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.user-id {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #b3b3b3;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-links li a {
  text-decoration: none;
  color: #cacaca;
  transition: text-shadow 0.3s ease;
}

.nav-links li a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.logo-img img {
  min-height: 44px;
  max-width: 135px;
}

.search-bar {
  margin-inline: auto;
  margin-top: 30px;
  position: relative;
  max-width: 1200px;
}
.search-bar input {
  width: 100%;
  min-height: 56px;
  padding: 0 48px 0 16px;
  background-color: #ffffff1f;
  border-radius: 12px;
  font-size: 16px;
  color: #ffffff;
  border: none;
}

.search-bar input::placeholder {
  color: #dedede66;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.search-bar input:focus {
  outline: none;
  border: 2px solid #848484;
}
.search-bar i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  cursor: pointer;
}

.slider-container {
  margin: 20px auto;
}

.slider-wrraper {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
}

.slider {
  display: flex;
  aspect-ratio: 22/9;
  overflow-x: auto; /*allows scrolling through the images incase of overflow and not wrapping them up */
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.slider-text {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 10;
  max-width: 600px;
}

.slider-main-header p {
  font-family: "kavoon", cursive;
  font-size: 40px;
  font-weight: 400;
  line-height: 110%;
}
.slider-small-header p {
  font-size: 1em;
  font-weight: 500;
  line-height: 160%;
}
.slider-btn {
  display: inline-block;
  max-width: 150px;
  width: 100%;
  background-color: #151515;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
}
.slider-btn:hover {
  background-color: #ffffff;
  color: #121212;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 1rem;
  min-height: 1rem;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.7;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
}

.about-us-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.about-us {
  position: relative;
  min-height: 170px;
  max-width: 1200px;
  width: 100%;

  align-items: center;
  border-radius: 16px;
  background-color: #ffffff33;
}

.about-us .header-about-us {
  position: absolute;
  top: 35px;
  left: 50%;
  font-size: 28px;
  line-height: 20px;
  font-weight: bold;
  color: #ffffff;
  transform: translateX(-50%);
}
.about-us .paragraph-about-us {
  text-align: center;
  margin-top: 70px;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  max-width: 1200px;
  width: 100%;
  color: #ffffff;
}
.our-collections {
  display: flex;
  padding: 75px;
  justify-content: center;
  min-height: 20px;
  font-size: 32px;
  font-weight: 700;
  font-size: 28px;
  line-height: 20px;
  color: #ffffff;
}

.collections-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 500px;
  margin-top: 20px;
}

.collections {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  min-height: 500px;
  display: flex;
  background-color: #292929;
  gap: 6px;
}
.collections .big-card {
  position: relative;
  background-color: #898989;
  min-height: 100%;
  width: 50%;
  font-size: 24px;
  font-weight: bold;
  color: #292929;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Initial subtle shadow */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 14px;
}

.collections .big-card p {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #292929;
  font-size: 40px;
  font-weight: bold;
  top: 60%;
  left: 25%;
}

.collections .big-card a {
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  left: 15%;
  top: 75%;
}
.collections .big-card a::after {
  content: "";
  position: absolute;
  width: 0;
  min-height: 2px;
  left: 0;
  bottom: 0;
  background-color: red;
}
.collections .big-card a:hover::after {
  width: 100%;
  transition: width 0.6s ease;
}

.collections .small-card-container {
  min-height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6px;
  font-size: 24px;
  font-weight: bold;
  color: #292929;
}
.collections .small-card {
  background-color: #898989;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Initial subtle shadow */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 14px;
}

.collections .small-card p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #292929;
  font-size: 24px;
  font-weight: bold;
}
/* .collections .small-card img {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
} */
.collections .small-card-container .small-card a {
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  left: 15%;
  top: 75%;
  font-size: 16px;
  font-weight: bold;
}

.collections .small-card a::after {
  content: "";
  position: absolute;
  width: 0;
  min-height: 2px;
  left: 0;
  bottom: 0;
  background-color: red;
}
.collections .small-card a:hover::after {
  width: 100%;
  transition: width 0.6s ease;
}
.collections .big-card:hover {
  cursor: pointer;
  transform: translateY(-10px); /* Moves the card up by 10px */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Enhances the shadow on hover */
}

.collections .small-card:hover {
  cursor: pointer;
  transform: translateY(-10px); /* Moves the card up by 10px */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Enhances the shadow on hover */
}

footer {
  min-height: 334px;
  width: 100%;
  position: relative;
  top: 100px;
  bottom: 0;
  background-color: #121212;
}
.footer-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-content: center;
  min-height: 205px;
  max-width: 1200px;
  width: 100%;
  top: 46px;
  margin-inline: auto;
  bottom: 123px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer .footer-container .quick-links p {
  width: 100px;
  min-height: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

footer .footer-container .quick-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79px;
  min-height: 165px;
  gap: 10px;
  top: 30px;
  left: 120px;
  bottom: 123px;
}
footer .footer-container .quick-links ul li {
  list-style: none;
  margin: 20px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

footer .footer-container .quick-links ul li a {
  text-decoration: none;
  color: rgb(128, 128, 128);
  transition: text-shadow 0.3s ease;
}

footer .footer-container .quick-links ul li a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

footer .footer-container .contact-us p {
  max-width: 100px;
  min-height: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  margin-inline: auto;
}

footer .footer-container .contact-us .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 166px;
  min-height: 108px;
  gap: 20px;
  margin-top: 30px;
}
footer .footer-container .contact-us .contact-info p {
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  color: #ffffff99;
}
footer > p {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 14px;
  color: #ffffff99;
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

footer .footer-container .follow-us p {
  width: 100px;
  min-height: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

footer .footer-container .follow-us-icons {
  display: flex;
  gap: 20px;
  text-decoration: none;
}

footer .footer-container .follow-us-icons a {
  text-decoration: none;
  color: #ffffff;
  width: 40px;
  min-height: 40px;
  gap: 5px;
  margin-top: 40px;
}

.mobile-nav {
  display: none;
}

@media (max-width: 480px) {
  .nav-links {
    display: none;
  }
}
